[local]
core_number=2
checkpoint_interval=10
node_memory_limit_mb=4000
enable_data_store=true
enable_wal=true
eloq_data_path=install/data
event_dispatcher_num=1
#auto_redirect=true
enable_mvcc=true
logserver_snapshot_interval=60

[cluster]
ip_port_list=127.0.0.1:16379

[store]
# Max number of open files used by eloqstore(default: 1024)
eloq_store_open_files_limit=40960
eloq_store_buffer_pool_size=500MB
eloq_store_pages_per_file_shift=11
