If:
  PathMatch: src/.*
  PathExclude:
    [
      src/mongo/db/modules/eloq/data_substrate/.*,
    ]
CompileFlags:
  CompilationDatabase: ./build
Diagnostics:
  Suppress: builtin_definition
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
        bugprone-*,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        google-*,
        modernize-*,
        performance-*,
      ]
    Remove: [
        modernize-use-trailing-return-type
    ]

---
If:
  PathMatch:
    [
      src/mongo/db/modules/eloq/data_substrate/.*,
    ]
CompileFlags:
  CompilationDatabase: src/mongo/db/modules/eloq/build
Diagnostics:
  Suppress: builtin_definition
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
        bugprone-*,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        google-*,
        modernize-*,
        performance-*,
      ]
    Remove: [
        modernize-use-trailing-return-type
    ]
