If:
  PathMatch: src/.*
  PathExclude:
    [
      src/mongo/db/modules/eloq/tx_service/.*,
      src/mongo/db/modules/eloq/log_service/.*,
      src/mongo/db/modules/eloq/store_handler/.*,
      src/mongo/db/modules/eloq/eloq_metrics/.*,
    ]
CompileFlags:
  CompilationDatabase: ./build
  Add: [-std=c++17]
Diagnostics:
  Suppress: builtin_definition
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
        bugprone-*,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        google-*,
        modernize-*,
        performance-*,
      ]
    Remove: [
        modernize-use-trailing-return-type
    ]

---
If:
  PathMatch:
    [
      src/mongo/db/modules/eloq/tx_service/.*,
      src/mongo/db/modules/eloq/log_service/.*,
      src/mongo/db/modules/eloq/store_handler/.*,
      src/mongo/db/modules/eloq/eloq_metrics/.*,
    ]
CompileFlags:
  CompilationDatabase: src/mongo/db/modules/eloq/build
  Add: [-std=c++17]
Diagnostics:
  Suppress: builtin_definition
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
        bugprone-*,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        google-*,
        modernize-*,
        performance-*,
      ]
    Remove: [
        modernize-use-trailing-return-type
    ]
