[local]
core_number=2
checkpoint_interval=10
node_memory_limit_mb=16384
enable_data_store=true
enable_wal=true
eloq_data_path=install/data
event_dispatcher_num=1
#auto_redirect=true
enable_mvcc=true
tx_ip=127.0.0.1
tx_port=9200
logserver_snapshot_interval=60
txlog_rocksdb_cloud_bucket_prefix=rocksdb-cloud-
txlog_rocksdb_cloud_bucket_name=eloqdoc-storage
txlog_rocksdb_cloud_object_path=eloqdoc_txlog
txlog_rocksdb_cloud_s3_endpoint_url=http://127.0.0.1:9900
txlog_rocksdb_cloud_sst_file_cache_size=10GB

[cluster]
ip_port_list=127.0.0.1:9200,127.0.0.1:9210,127.0.0.1:9220
node_group_replica_num=3
txlog_group_replica_num=1
#txlog_service_list=127.0.0.1:9000

[store]
# rocksdb_cloud store
eloq_dss_peer_node=127.0.0.1:9100
